@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


p {
    color: #293845;
    font-family: 'Roboto';
    font-size: 24px;
}

.cabeca {
    width: auto;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Roboto';
    color: #E8833A;
    font-size: 34px;
}
.container {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: white;
    width: 100%;
    height: 100vh;
}
.boxfilme {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxhorario {
    margin-top: 20px;
    padding-left: 15%;
    background-color: white;
}

h2 {
    color: #293845;
    font-family: 'Roboto';
    font-size: 20px;
}

.hora {
    margin-top: 22px;
    margin-right: 8px;
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    color: white;
    border: none;
    border-radius: 3px;
}
.hora p {
    color: #293845;
    font-size: 18px;
}
.progresso {
    border: solid;
    border-width: 1px;
    border-color: #9EADBA;
    width: 100%;
    height: 117px;
    padding-left: 15%;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
}
.caixa {
    height: 88px;
    width: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa img {
    margin: 8px,8px,8px,8px;
    background-color: white;
    width: 48px;
    height: 72px;
}
.textfilme {
    width: 100%;
}
.textfilme p {
    margin-left: 20px;
    color: #293845;
    font-size: 26px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lugar {
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lugar p {
    font-size: 11px;
}
.escolhido {
    background-color: #8DD7CF;
    border-color: #1AAE9E;
}
.indisponivel {
    background-color: #FBE192;
    border-color: #F7C52B;
}
.legenda {
    margin-left: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.legenda p {
    font-size: 13px;
}
h3 {
    font-family: 'Roboto';
    font-size: 24px;
    color: #247A6B;
    font-weight: 700;
}
h4 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    color: #293845;
    margin-bottom: 15px;
}
h5 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    color: #293845;
    margin-bottom: 2px;
}
h6 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    color: #293845;
    margin-bottom: 35px;
}